.about-wrapper{
    height: fit-content;
    animation: fadeIn 2s ease-out;
}
.about-left{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff
}

.about-left-content > div{
    background: black;
    /* padding: 4rem 4rem 2.5rem 5rem; */
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 0 0;
}

.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    border-radius: 12px;
    width:80%;
}

.about-img img{
    display: block;
    width: 200px;
}

.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #c22085;
}

.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing:5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.about-right{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
    color:#fff
}

@media screen and (max-width:550px) {
    .about-left-content h3{
        letter-spacing: 1px;
    }
    .about-right {
        padding: 0 0.8rem;
    }
}

@media screen and (max-width:550px) and (min-width:340px) {
    .about-right {
        padding: 0 2rem;
    }
}

.about-right h2{
    font-size: 3rem;
}
.about-right h2 span{
    color: #c22085;
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    color:#fff
}
.btn.btn-white{
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    background: #c22085;
    border-color: #c22085;
    color: #fff;
}
.about-para p{
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (min-width: 900px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}

@media screen and (max-width: 900px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 2fr);
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}